<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
	  <add key="MIN_AUCTION_PRICE" value="100"></add>
	  <add key="MAX_MONTHS_PERIOD" value="4"></add>
	  <add key="MAX_STARTED_AUCTIONS" value="4"></add>
	  <add key="MAX_STARTED_SPECIFIED_CATEGORY_AUCTIONS" value="2"></add>
	  <add key="DEFAULT_SCORE" value="8"></add>
	  <add key="NUMBER_OF_USERS_TO_SCORE" value="8"></add>
  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.JustMock" publicKeyToken="721b6c5bc0326b3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2019.3.910.4" newVersion="2019.3.910.4" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup></configuration>
